// app global css

@font-face {
    font-family: 'RobotoMono-Light';
    src: url(themes/RobotoMono-Light.ttf)
}

::selection {
    background: #63c9f3;
}
::-moz-selection {
    background: #63c9f3;
}

:root {
    --q-color-primary: #497dc6;
}

* {

    scrollbar-track-color: #fff;
    scrollbar-arrow-color: #fff;
    &::-webkit-scrollbar-corner { background-color: #fff;}
    &::-webkit-scrollbar-track-piece { background-color: #fff;}

    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
    &::-webkit-scrollbar { width: 8px; height: 8px;}
    &::-webkit-scrollbar-button {  background-color: #646464; height:0; width: 0; }
    &::-webkit-scrollbar-track {  background-color: #646464;}
    &::-webkit-scrollbar-thumb { height: 50px; background-color: #646464; border-radius: 3px;}
    &::-webkit-resizer { background-color: #646464;}
}


h1,h2,h3,h4,h5,h6,
img,
.q-list-header,
.q-layout-header,
.q-popover .q-item-label,
.q-list-link .q-item,
.infoBox .text,
.modal-header,
footer,
{
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.monospace {
    font-family: 'RobotoMono-Light', monospace
}

.break-all {
    word-break: break-all
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

.q-field {
    margin: 20px 0;

    &.q-ma-none {
        margin: 0;
    }

}


.layout-padding {
    padding: 15px 16px !important;
}

.q-item-sublabel {
    color: #121212;
}

.advanced-options-label .q-item-side-right {
    margin: 0;
    text-align: left;
}

.q-layout-page {
    min-height: 0 !important;
}

.q-layout-header {
    background: white;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    height: 48px;

    .q-toolbar-title {
        font-size: 16px;
        line-height: 48px;
        font-weight: 300;
    }

    &.shift-title {
        .q-toolbar-title {
            padding-left: 50px;
            margin: 0 0 0 16px;
        }
    }

    .q-btn.menu {
        height: 48px;
        width: 50px;
        position: absolute;
        top: 0;
        z-index: 1;
        border-radius: 0;
    }
    .q-btn.cancel {
        position: absolute;
        top: 7px;
        left: 8px;
        z-index: 1;
    }

    .q-toolbar-inverted {
        background: none;
        padding-top: 0;
    }

    .q-tabs {
        padding-left: 50px;

        .q-tabs-head {
            padding: 0;
            background: none;
        }

        .q-tab {
            text-transform: none;

            &:hover {
                background-color: rgba(12,12,12,0.15)
            }

            .q-icon {
                font-size: 22px;
            }

        }

    }

}

.infoBox {
    height: 75px;
    cursor: default;
    position: relative;
    overflow: hidden;
    margin: 10px 0;

    .infoBoxIcon {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 64px;
        color: #212529;

        svg {
            width: 60px;
            height: 60px;
        }
    }

    .infoBoxContent {
        display: inline-block;

        .text {
            font-size: 13px;
            margin-top: 8px;
            color: #212529;
            text-transform: uppercase;
        }

        .value {
            font-size: 24px;
            margin-top: 4px;
            font-weight: 800;
            color: #212529;
            font-weight:300;
        }
    }
}

.q-loading + .modal {
    z-index: 9999 !important;
}

.modal-scroll {
    max-height: 230px;
    max-width: 640px;
    word-break: break-word;
}

.identicon {
    image-rendering: crisp-edges;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #cb8fe1;
    box-shadow: inset rgba(255, 255, 255, 0.6) 0 2px 2px, inset rgba(0, 0, 0, 0.3) 0 -2px 6px;
    border-radius: 2px;
}

.q-layout-footer.status-footer {
    border-top: 1px solid #ccc;
    padding-top: 2px;
    background: #fff;
    box-shadow: none;
    font-size: 12px;

    .status-line {
        margin-bottom: 5px;

        div {
            display: inline-block;
            padding: 0 8px;
        }

        div:last-child {
            float:right;
        }
    }

    .status-bars {

        div {
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: width 0.5s ease-out;
        }

        div:first-child {
            background-color: goldenrod;
        }

        div:last-child {
            background-color: green;
        }

    }

}


.tx-list {

    .q-item.tx-in,
    .q-item.tx-pool {
        .q-icon {
            color: #333;
        }
        .q-item-label {
            color: green;
        }
        &>div:last-child {
            text-align:right;
            &>div:first-child {
                span {
                    color: green;
                    &:before {
                        content: "+";
                        color: green;
                    }
                }
            }
        }
    }

    .q-item.tx-out,
    .q-item.tx-pending {
        .q-icon {
            color: #333;
        }
        .q-item-label {
            color: purple;
        }
        &>div:last-child {
            text-align:right;
            &>div:first-child {
                span {
                    color: purple;
                    &:before {
                        content: "-";
                        color: purple;
                    }
                }
            }
        }
    }
}


body.dark {

    &, * {
        scrollbar-track-color: #111;
        scrollbar-arrow-color: #111;
        &::-webkit-scrollbar-corner { background-color: #111;}
        &::-webkit-scrollbar-track-piece { background-color: #111;}
    }

    .q-item-sublabel {
        color: #cecece;
    }
    .infoBoxIcon {
        color: #cecece;
    }

    .infoBoxContent {
        .text {
            color: #cecece;
        }
        .value {
            color: #cecece;
        }
    }

    .identicon {
        box-shadow: inset rgba(0, 0, 0, 0.1) 0 2px 2px, inset rgba(0, 0, 0, 0.3) 0 -2px 6px;
        border-radius: 2px;
    }


    .q-layout {
        background: #111;
        color:#cecece;


        .q-layout-header {
            background: #111;
            box-shadow: none;
            border-bottom: 1px solid #333;

        }
    }

    .q-layout-footer.status-footer {
        background: #111;
        color: #cecece;
        border-top: 1px solid #333;
    }

    .q-list-dark .q-item,
    .q-item-dark .q-item,
    .q-list-header {
        color: #cecece;
    }

    .q-stepper-tab.step-waiting,
    .q-stepper-step-content{
        color: #cecece;
    }


    .q-popover {
        background: #222;
        color:#cecece;

        .q-list-separator > .q-item-division + .q-item-division, .q-item-division + .q-item-separator {
            border-top: 1px solid #333;
        }

    }

    .modal.minimized {
        .q-input {
            .q-input-target {
                color: #cecece;
            }
            &.q-if:hover:before {
                color: #cecece;
            }
        }
    }

    .modal {

        .modal-content,
        .modal-body {
            background: #111;
            color:#cecece;
        }

        .q-layout-header {
            background: #111;
            box-shadow: none;
            border-bottom: 1px solid #333;

            .q-toolbar {
                &>* {
                    color: #cecece;
                }
            }
        }

    }


    .tx-list {

        .q-item.tx-in,
        .q-item.tx-pool {
            .q-icon {
                color: #cecece;
            }
            .q-item-label {
                color: lightgreen;
            }
            &>div:last-child {
                text-align:right;
                &>div:first-child {
                    span {
                        color: lightgreen;
                        &:before {
                            content: "+";
                            color: lightgreen;
                        }
                    }
                }
            }
        }

        .q-item.tx-out,
        .q-item.tx-pending {
            .q-icon {
                color: #cecece;
            }
            .q-item-label {
                color: mediumpurple;
            }
            &>div:last-child {
                text-align:right;
                &>div:first-child {
                    span {
                        color: mediumpurple;
                        &:before {
                            content: "-";
                            color: mediumpurple;
                        }
                    }
                }
            }
        }
    }

    .q-layout-footer.status-footer {

        .status-bars {

            div:first-child {
                background-color: goldenrod;
            }

            div:last-child {
                background-color: #497dc6;
            }

        }

    }

}
